/*#####################################################
// CARLOS SANTOS DE AZEVEDO
// Software: DbackupeX Pro
// Mysql Database Backups Central
// CopyRight: Litos Media - Carlos Santos de Azevedo
// Contact: info@litos.top
#####################################################*/



h6,p,body{  font-family: 'Montserrat';font-weight: 400;
    font-style: normal;}
h6{  
    font-size: 20px;
    line-height: 30px;
    
}

body {background:url(../img/login-bg.jpg)  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}


.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 0px solid transparent;
    border-radius: 0px;
}




.card-login .btn.btn-primary.btn-block {
    display: inline-block;
    position: relative;
    margin: 0 0 15px 0;
    padding: 12px 20px 12px 15px;
    border: none;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    color: #10cbe6;
    text-transform: uppercase;
    background: #fff;
    cursor: pointer;
    border-radius: 0px;
    transition: all 0.2s;
    text-align: center;
    border-radius: 7px;
}



.pro-version{ 
	float: right; 
	margin-top: -35px; 
	background: #CCC; 
	color: #777; 
	padding: 5px 10px 5px 10px; 
	box-shadow: 0 4px #777; 
	border-radius: 3px;
text-align: center;}

.btn.btn-facebook,.btn.btn-twitter{
    border: none;
    font-family: inherit;
    font-size: 12px;
	
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 5px 5px;
    display: inline-block;
    margin: 10px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
	color:#FFF;
}

 
.btn.btn-facebook:after ,.btn.btn-twitter:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
 



 

.btn.btn-facebook{
background:rgba(59,89,152,0.68);
box-shadow: 0 4px #91a5cf;	
}

.btn.btn-twitter{
background:rgba(0,132,180,0.68);
box-shadow: 0 4px #7cbfd8;	
}
.btn.btn-twitter:hover, .btn.btn-facebook:hover{
box-shadow:  0px 2px ;	
}

.btn.btn-twitter i, .btn.btn-facebook i{
margin-right: 5px;
padding-right: 15px;	
border-right: 1px #fff solid;
font-size: 16px;	
	
}






.card {
    box-sizing: border-box;
    padding: 10px 12px;
    background: #fff;
    min-height: 350px;
	margin-top: 100px;
}


.card-login {
    background:url(../img/blur2.png);
		border-radius:7px;
}


.card-login .card-header:after {
    height: 3px;
    bottom: 2px;	
background-color: #FFF;
}


.card-login .card-header:before {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: rgba(10, 10, 10, 0.1);
}


.card-login a{
	color:#fff}


.card-login h6{ color:#fff; font-weight: bold}



.logo{
	margin: auto

}

footer .logo{ max-width: 200px;

}

.card-header {
    line-height: 1;
    position: relative;
    text-overflow: ellipsis;
    border-color: #2c3e50;
    padding-bottom: 25px;
    margin-bottom: 20px;
}
.card-header:before {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: rgba(10, 10, 10, 0.05);
}
.card-header:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    bottom: 2px;
    left: 0;
    background-color: #42a6f0;
}


/************************************
Overlay
************************************/
.overlay-container{overflow: hidden; position: relative;padding-left: 0px; padding-right: 0px;}
.overlay-pontos{
    height: 100%;
    width: 100%;
	position: absolute;
    background: rgba(95, 96, 97, 0.4) url(../img/overlay.png) repeat top left;
	z-index: 0;
}
.overlay-pontos-brancos{
    height: 100%;
    width: 100%;
	position: absolute;
    background: rgba(95, 96, 97, 0.4) url(../img/climpek.png) repeat top left;
	z-index: 0;
}





footer .logo{ padding-bottom: 10px;}
footer p{ font-size: 12px; padding-top: 5px; color: #fff}

footer {background:url(../img/b.jpg)  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}





  
.DbackupexProInput {
  display: inline-block;
  font-weight: 400;
  color: #333;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 45px;
-webkit-transition-property: all;	
  transition: all .3s ease-in-out;
	padding-left: 55px

}
.DbackupexProInput::-webkit-input-placeholder {
  color: #efefef;
  text-indent: 0;
  font-weight: 300;
}
.DbackupexProInput + label {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 13px 15px;
  background:rgba(102,181,255,1.00);
  transition: all .4s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transform-origin: left bottom;
  z-index: 99;
  color:#12c5e6;
font-weight: 400;	
 
}
.DbackupexProInput + label:before, .DbackupexProInput + label:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #FFF;
  transform-origin: left bottom;
  transition: all .4s ease-in-out;
  pointer-events: none;
  z-index: -1;
	min-width: 88px;
}
.DbackupexProInput + label:before {
  background: rgba(3, 36, 41, 0.2);
  z-index: -2;
  right: 20%;
}

span:nth-child(2) .DbackupexProInput {
  text-indent: 85px;
}

span:nth-child(2) .DbackupexProInput:focus,
span:nth-child(2) .DbackupexProInput:active {
  text-indent: 0;
}

.DbackupexProInput:focus,
.DbackupexProInput:active {
  color: #333;
  text-indent: 0;
  background: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding-left: 30px;
 
}
.DbackupexProInput:focus::-webkit-input-placeholder,
.DbackupexProInput:active::-webkit-input-placeholder {
  color: #aaa;
}
.DbackupexProInput:focus + label,
.DbackupexProInput:active + label {
  transform: rotate(-66deg);
  border-radius: 3px;
}
.DbackupexProInput:focus + label:before,
.DbackupexProInput:active + label:before {
  transform: rotate(10deg);
}
 
  