/*###########################################################
// Color combination Kaki  Color: #BDAA93 dark:#a1917e
//##########################################################*/
.bg-color-active, .modal-info .modal-header, .modal-info .modal-footer,.btn-default, .btn-group .btn-default, .paginacao li a{
	background-color:#BDAA93 !important;
	color:#FFFFFF !important;
}


.box-header h3:before {
    border-left: 2px solid #BDAA93;
}

.sidebar-menu>li.active>a {
    border-left-color: #BDAA93 !important;
}


.bg-skin{ background: #BDAA93 !important;}
.bg-skin-dark{ background: #a1917e !important;}
.color-skin{ color: #BDAA93 ;}
.color-skin-dark{ color: #a1917e ;}


.label.label-default{ border-left:3px solid #BDAA93 !important; background:#f4f8ff; border-radius:0px; }




/**/
.bg-skin .inner{color:#ffffff; }
.bg-skin .inner:hover{color:#333333;  
	-webkit-transition:  color 500ms linear;
    -ms-transition:  color 500ms linear;
    transition: color 500ms linear;
}



/* Rodas nas estatisticas*/
input.knob{ color: #BDAA93 !important;}


 
small {
 color: #ACACAC !important;
 font-weight:300;
}

 
label { 
    font-weight: 600;
}


/*Tabs*/
.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #BDAA93;
}

 
 
 
 
 
  .main-header {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05)
}
 
 


.main-header .navbar-toggle {
    color: #333
}

.main-header .navbar-brand {
    color: #333;
    border-right: 1px solid #eee
}

.main-header .navbar {
    background-color: #fff
}

.main-header .navbar .nav>li>a {
    color: #333
}

.main-header .navbar .nav>li>a:hover,
.main-header .navbar .nav>li>a:active,
.main-header .navbar .nav>li>a:focus,
.main-header .navbar .nav .open>a,
.main-header .navbar .nav .open>a:hover,
.main-header .navbar .nav .open>a:focus,
.main-header .navbar .nav>.active>a {
    background: #fff;
    color: #999
}

.main-header .navbar .sidebar-toggle {
    color: #333
}

.main-header .navbar .sidebar-toggle:hover {
    color: #999;
    background: #fff
}

.main-header .navbar>.sidebar-toggle {
    color: #333;
    border-right: 1px solid #eee
}

.main-header .navbar .navbar-nav>li>a {
    border-right: 1px solid #eee
}

.main-header .navbar .navbar-custom-menu .navbar-nav>li>a,
.main-header .navbar .navbar-right>li>a {
    border-left: 1px solid #eee;
    border-right-width: 0
}

.main-header>.logo {
    background-color: #fff;
    color: #333;
    border-bottom: 0 solid transparent;
    border-right: 1px solid #eee
}

.main-header>.logo:hover {
    background-color: #fcfcfc
}

@media (max-width:767px) {
    .main-header>.logo {
        background-color: #222;
        color: #fff;
        border-bottom: 0 solid transparent;
        border-right: none
    }
    .main-header>.logo:hover {
        background-color: #1f1f1f
    }
}

.main-header li.user-header {
    background-color: #222
}

.content-header {
    background: transparent;
    box-shadow: none
}

.wrapper,
.main-sidebar,
.left-side {
    background-color: #222d32
}

.user-panel>.info,
.user-panel>.info>a {
    color: #fff
}





/*###########################################################
// Sidebar menu
//##########################################################*/
.sidebar-menu>li.header {
    color: #4b646f;
    background: #1a2226
}

.sidebar-menu>li>a {
    border-left: 4px solid transparent
}


.sidebar-menu>li.active>a,
.sidebar-menu>li.menu-open>a {
  color: #333;
    background: #F8F8F8;
}

.sidebar-menu>li:hover>a{ background: #2c3b41;}


.sidebar-menu>li.active>a {
    border-left-color: #438BCA
}

.sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background: #2c3b41
}

.sidebar a {
    color: #b8c7ce
}

.sidebar a:hover {
    text-decoration: none
}

.sidebar-menu .treeview-menu>li>a {
    color: #8aa4af
}

.sidebar-menu .treeview-menu>li.active>a,
.sidebar-menu .treeview-menu>li>a:hover {
    color: #fff
}

/*Sidebar*/
.wrapper, .main-sidebar, .left-side {
    background-color: #5a5c51 !important;
}
 

 

/*Media Library*/
.imagen_redonda_container .gallery .item .img-wrap:before {
	border-top-color: #a1917e;
	border-bottom-color: #a1917e;
	 
}
 