<IfModule mod_rewrite.c>
   RewriteEngine On
   RewriteBase /
   
   RewriteRule ^my-databases$ /_admin_back/theme/dbackupexpro-my-databases.php?q=%{REQUEST_URI} [QSA,L]
   RewriteRule ^my-ftp-servers$ /_admin_back/theme/dbackupexpro-ftp.php?q=%{REQUEST_URI} [QSA,L]
   RewriteRule ^add-new-db$ /_admin_back/theme/dbackupexpro-add-db.php?q=%{REQUEST_URI} [QSA,L]
   RewriteRule ^add-new-ftp$ /_admin_back/theme/dbackupexpro-add-ftp.php?q=%{REQUEST_URI} [QSA,L]
   
   
   RewriteRule ^(assets) - [L]
   RewriteRule ^(inc) - [L]
   RewriteRule ^(DbackupexPro_Backups) - [L]
   RewriteCond %{REQUEST_URI} !^/_admin_back/theme/dbackupexpro_cron.php
   RewriteCond %{REQUEST_URI} !^/_admin_back/theme/dbackupexpro_ajax\.php$
   RewriteRule (.*)$ _admin_back/theme-index.php?file=$1 [L]
  
     
  
</IfModule>